body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.signup {
    color:#F9FAF8;
    background-color: #3882F6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
}

.call {
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}